body{
    background-color: #e3f2fd!important;
}
.navbar{
    background-color: #51b4e2 !important;
}
.navbar-brand{
    color: #f02569 !important;
    font-weight: bold;
}
.card{
    background-color: rgb(197, 230, 236)!important;
}
.card-img{
    max-width: 45%;
    max-height: 45%;
}
.row_card_current_weather{
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

.card-title{
    font-family: "Segoe Print"!important;
    font-size: 62px;
    font-weight: bold;
    color: #3245e7!important;
}
.card-text{
    font-family: "Segoe Print"!important;
    font-size: xx-large;
    color: #66696b !important;
}
.content_param{
    display: inline-block;
}
.content_param_desc{
    font-size: xx-large;
    text-decoration: underline;
    font-family: Mistral;
    color: #0a406b;
}
.content_param_value{
    font-size: x-large;
    
    font-family: 'Times New Roman';
    color: #242627;
}





#text_resp_fail{
    color: #cbb94a !important;
}