body{
    background-color: #e3f2fd!important;
}
.navbar{
    background-color: #3598c5 !important;
}
.navbar-brand{
    color: #a611b7 !important;
    font-size: xx-large !important;
    font-weight: bold;
}

#text_resp_fail{
    color: #cbb94a !important;
}