body{
    background-color: #e3f2fd!important;
}
.navbar{
    background-color: #3598c5 !important;
}
.navbar-brand{
    color: #fc6100 !important;
    font-size: xx-large !important;
    font-weight: bold;
}