{% extends 'meteo_main.html' %}

{% block content %}
<div class="card border-primary">
  <div class="row row_card_current_weather">
    <div class="col-md-4 ">
      <div class="card-body ">
        <h2 class="card-title" >{{city_name}}</h2>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <img class="card-img " src="{{cur_icon}}">
        <h2 class="card-text">{{cur_description}}</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <div class="content_param">
          <span class="content_param_desc">Температура: </span>
          <span class="content_param_value">{{cur_temperature}}°</span>
        </div>
        <div class="content_param">
          <span class="content_param_desc">Давление: </span>
          <span class="content_param_value">{{cur_pressure}} мм.рт.ст.</span>
        </div>
        <div class="content_param">
          <span class="content_param_desc">Влажность: </span>
          <span class="content_param_value">{{cur_humidity}} %</span>
        </div>
        <div class="content_param">
          <span class="content_param_desc">Скорость ветра: </span>
          <span class="content_param_value">{{cur_wind_speed}} м/с</span>
        </div>
        <div class="content_param">
          <span class="content_param_desc">Направление ветра: </span>
          <span class="content_param_value">{{cur_wind_deg}}°</span>
        </div>
      </div>
    </div>


    </div>
  </div>
</div>
{% endblock %}